:root{
    --primary-color: #313dc4;
    --secondary-color: #f8d112;
    --black: #222222;
    --white: #ffffff;
    --font-primary: 'Satoshi', sans-serif;
    --font-heading: 'Stardom', sans-serif; 
}

html{
    font-size: 100%;
}

body{
    margin: 0rem;
}

#navbar{
    display: flex;
    justify-content: space-between;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--white);
    background-color: var(--black);
    padding: 1.5rem;
}
#menu{
    display: flex;
    gap: 1rem;
}
