:root{
    --primary-color: #313dc4;
    --secondary-color: #f8d112;
    --black: #222222;
    --white: #ffffff;
    --font-primary: 'Satoshi', sans-serif;
    --font-heading: 'Chillax', sans-serif; 
}

html{
    font-size: 100%;
}

body{
    margin: 0rem;
}

#navbar{
    display: flex;
    justify-content: space-between;
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 1.5rem;
}
#menu{
    display: flex;
    gap: 2.5rem;
}

#main{
    background-color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: 6rem;
    font-weight: 700;
    display: flex;
    padding: 4rem 0 4rem 0;
    gap: 4rem;
    justify-content: space-evenly;
}

#main-headings{
    padding: 1.5rem 0 1.5rem 2.5rem;
}

#heading1{
    color: var(--white);
}

#heading2{
    color: var(--secondary-color);
    text-align: right;
}

img{
    max-width: 30rem;
    border-radius: 6rem;
}
